include includes/head
link(rel='stylesheet' href='/style/style_game.css')

include includes/header

h1 Page du jeu en construction :)

p#player1 Joueur 1 :
    span
p#player2 Joueur 2 :
    span
p#message Message :
    span
p#question Question :
    span A
        div#A

input(type="button" value="click me plz")

script(src='/socket.io/socket.io.js')
script(src='/js/game.js')
