include includes/head
link(rel='stylesheet' href='/style/style_game.css')

include includes/header

main
    section#timer
        article  15
    section#question
        aside#side_player1.parts Joueur 1
            p
            p score :
                span#score_player_one  0
        article.parts
            | center
            #message_one_player
            #message_all_players

            #q
                h2 Question :
                p
            #response_a
                span A :
                span#a
            #response_b
                span B :
                span#b
            #response_c
                span C :
                span#c
            #response_d
                span D :
                span#d
        aside#side_player2.parts Joueur 2
            p
            p score :
                span#score_player_two  0
//h1 Page du jeu en construction :)
//
//p#player1 Joueur 1 :
//    span
//p#player2 Joueur 2 :
//    span
//p#message Message :
//    span
//p#question Question :
//    span A
//        div#A
//
//input(type="button" value="click me plz")

script(src='/socket.io/socket.io.js')
script(src='/js/game.js')
