<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Accueil</title>
        <link rel="stylesheet" href="/style/style.css">
    </head>
    <body>
        <div id="opacity"></div>
        <form action="/login" method="post">
            <h3>Bienvenue sur :</h3>
            <h1>Questions pour un développeur</h1>
            <h3>Merci de vous logger <input type="submit" value="ici"></h3>
            <!--<h3>Merci de vous logger <button onclick="/login">ici</button></h3>-->

        </form>
    </body>
</html>