include includes/head
link(rel='stylesheet' href='/style/style_index.css')

include includes/header

form(action='/login' method='post')
    h3 Bienvenue sur :
    h1 Questions pour un développeur
    h3
        | Merci de vous logger
        input(type='submit' value='ici')