<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Questions pour un développeur</title>
        <link rel="stylesheet" href="/style/style_global.css">
        <link rel="stylesheet" href="/style/style_index.css">
    </head>
    <body>
        <div id="opacity"></div>
        <form action="/login" method="post">
            <h3>Bienvenue sur :</h3>
            <h1>Questions pour un développeur</h1>
            <h3>Merci de vous logger <input type="submit" value="ici"></h3>
        </form>
    </body>
</html>