include includes/head
link(rel='stylesheet' href='/style/style_login.css')

include includes/header

form.box(action='/game' method='post')
    h1 LOGIN
    #message
    input#pseudo(type='text' name='pseudo' placeholder='Pseudo')
    input#password(type='password' name='pwd' placeholder='Password')
    input(type='submit' name='btn_submit' value='Login')
    a(href='/inscription') Create an Account
    script(src='/js/login.js')

