<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="/style/style_login.css">
    </head>
    <body>
        <div id="opacity"></div>
        <form class="box" action="">
            <h1>LOGIN</h1>
            <input type="text" name="" placeholder="Pseudo">
            <input type="password" name="" placeholder="Password">
            <input type="submit" name="" value="Login">
            <a href="/inscription">Create an Account</a>
        </form>
        <script src="/js/verify_fields_inputs.js"></script>
    </body>
</html>