/*body {
    !*width: 100vw;
    height: 100vh;*!
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;
    background-image: url("/img/matrix-356024_1920.jpg");
}*/
form {
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
}
/*#opacity {
    width: 100vw;
    height: 100vh;
    opacity: 0.65;
    background: black;
}*/
h1 {
    color: white;
    font-weight: 500;
    letter-spacing: 0.5px;
}
input[type="text"],
input[type="password"] {
    color: white;
    width: 200px;
    border: 2px solid #55efc4;
    margin: 20px auto;
    display: block;
    outline: none;
    padding: 12px;
    background: none;
    text-align: center;
    transition: 0.25s;
    border-radius: 24px;
}
input[type="text"]:focus,
input[type="password"]:focus {
    width: 280px;
}
input[ type = "submit"] {
    color: white;
    border: 2px solid #55efc4;
    margin: 20px auto;
    display: block;
    padding: 14px 40px;
    outline: none;
    background: none;
    text-align: center;
    transition: 0.5s;
    border-radius: 24px;
    cursor: pointer;
}
input[ type = "submit"]:hover {
    background: #55efc4;
}