@font-face {
    font-family: 'robotica';
    src: url('./ROBOTICA.ttf');
}
.box {
    top: 50%;
    left: 50%;
    width: 300px;
    padding: 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    background: none;
    text-align: center;
    /*background-color: #b2bec3;*/
    /*opacity: 0.8;*/
}
.box h1 {
    color: white;
    font-weight: 500;

}
#message {
    color: tomato;
    height: 13px;
    font-size: 10px;
    font-family: robotica, sans-serif;
}
.box input[ type = "text" ],
.box input[ type = "password"] {
    color: white;
    width: 200px;
    border: 2px solid #55efc4;
    margin: 20px auto;
    display: block;
    outline: none;
    padding: 14px;
    background: none;
    text-align: center;
    transition: 0.25s;
    border-radius: 24px;
}
.box input[ type = "text" ]:focus,
.box input[ type = "password"]:focus {
    width: 280px;
    border-color: #00b894;
}
.box input[ type = "submit"] {
    color: white;
    border: 2px solid #55efc4;
    cursor: pointer;
    margin: 20px auto;
    display: block;
    padding: 14px 40px;
    outline: none;
    background: none;
    text-align: center;
    transition: 0.5s;
    border-radius: 24px;
}
.box input[ type = "submit"]:hover {
    background: #55efc4;
}
.box input[ type = "text" ] { /*pour rapprocher la div avec le message*/
    margin-top: 1px;

}
a {
    color: #55efc4;
    font-size: 10px;
    font-weight: 400;
}
a:hover {
    color: white;
    /*color: #f7f1e3;*/
}